# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Log files
logs/
*.log

# IDE files
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
bin/

# OS files
.DS_Store
Thumbs.db
